
.cabecera{
	background:#FA1111;
	color: #FFFFFF;
	height: 100px;
	font-size: 500%;
	padding: 0px;
	margin: 5px;
	text-align: left;
	font-family: bold;
	border-radius: 10px;
}
 .cabecera2{
    width: 100px;
	height: 95px;
	padding: 10px;
	margin: -10px; 	
}
 
 .subcabecera{
 	color: #FFFFFF;
 	margin-left: 390px;
	margin-top: -30px;

 }
 .piecera{

 	background:#FA1111; 
 	color: #FFFFFF;
    padding: 5px;
    margin:5px;   
    border-radius: 10px;
    font-family: bold;
    text-align: center;


 }

.cuerpo{
	height: 450px;
	 margin-top: 70px;
	 text-align: justify;




}






